div p:nth-child(2) {
    color: green;
}
 .rouge{color:red}
.code {font-family:'Courier New';}
.exemple {
    font-family: 'Courier New';
}
ol li{background-color:yellow;}
.moi{background-color:aqua;}

