/*p {
    background-color: aqua;

}

h1 {
    font-family: Verdana;
    font-size: 18px;
}*/
.info{
    color:red;
}
.premier{
    background-color:skyblue;
}
#signet2 {
    background-color:yellow;
}

